# Python
__pycache__/
*.py[cod]
*.pyc
*.pyd
*.so
venv/
build/
dist/
*.egg-info/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Streamlit
.streamlit/

# Database
*.db
*.sqlite
*.sqlite3

# Chroma
chroma_db/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Notebooks
*.ipynb

# MyPy
.mypy_cache/
